<div class="flex flex-col w-full h-screen items-center bg-gray-50">

  <div class="flex flex-row pt-5 pb-4 px-8 w-full border-b-2 justify-between bg-white">
    <p class="w-full text-2xl">Sell Your Property</p>
    <app-button-component routerLink="/listing" class="w-2/12" name="Your Listings" />
  </div>

  <div class="flex flex-row justify-between items-start w-9/12 p-5 mt-10 border min-h-min bg-white">
    <div class=" w-6/12 p-5">
      <app-file-input (getFileEvent)="setFile($event)" />
    </div>
    <div class="w-6/12 p-5">
      <app-select-component (getValueEvent)="setCity($event)" class="w-full" [values]="data.cityList"
        placeholder="Select City" />
      <app-select-component (getValueEvent)="setBed($event)" class="w-full" [values]="data.bedList" placeholder="Bed" />
      <app-select-component (getValueEvent)="setBath($event)" class="w-full" [values]="data.bathList"
        placeholder="Bath" />
      <app-select-component (getValueEvent)="setGarage($event)" class="w-full" [values]="data.garageList"
        placeholder="Garrage" />
      <app-input-component (getValueEvent)="setName($event)" type="text" placeholder="Property Name" />
      <app-input-component (getValueEvent)="setArea($event)" type="number" placeholder="Area (sqrt.)" />
      <app-input-component (getValueEvent)="setPrice($event)" type="number" placeholder="Price ₹" />
      <app-button-component (onClickEvent)="uploadProperty()" name="Upload" />
    </div>

  </div>



</div>