<div class="flex flex-col w-full h-screen bg-gray-50">

  <div class="flex flex-row pt-5 pb-4 px-8 w-full border-b-2 justify-between bg-white">
    <p class="w-full text-2xl">Manage Your Listings</p>
    <app-button-component routerLink="/sell" class="w-2/12" name="Sell Property" />
  </div>


  <!--properties list start -->
  <div *ngIf="properties.length !=0 ; else elseBlock" class="flex-col py-3 overflow-auto h-full ">
    <app-listing-card *ngFor="let property of properties; let index=index" [property]="property" />
  </div>
  <ng-template #elseBlock>
    <div class="flex flex-col justify-center items-center w-full h-full py-3 ">
      <p>Sorry ! No content found</p>
    </div>
  </ng-template>


</div>