<div class="flex flex-col w-full h-screen bg-gray-50">

  <div class="flex flex-row pt-5 pb-4 px-8 w-full border-b-2 bg-white">
    <p class="w-full text-2xl">My Profile - {{userService.user.name | name}}</p>
    <app-button-component (onClickEvent)="saveProfileButtonClick()" class="w-2/12" name="Save Profile" />
  </div>

  <div class="flex flex-col justify-between items-center w-full h-full overflow-auto pt-20 ">
    <div class="w-5/12">
      <app-input-component (getValueEvent)="setName($event)" placeholder={{user.name}} lable="Name" />
      <app-input-component (getValueEvent)="setPhone($event)" placeholder={{user.phone}} lable="Phone" />
      <app-input-component isDisable="true" placeholder={{user.email}} lable="Email" />
    </div>
  </div>

</div>
