<div class="flex flex-col w-full h-full bg-gray-50">

  <!--filter bar start-->
  <div class="flex flex-row justify-center h-2/12 pt-5 px-10 w-full border-b-2 bg-white">

    <app-select-component class="w-full px-2" value={{filterData.city}} (getValueEvent)="setCity($event)"
      [values]="data.cityList" placeholder="City" />
    <app-select-component class="w-full px-2" value={{filterData.bed}} (getValueEvent)="setBed($event)"
      [values]="data.bedList" placeholder="Bed" />
    <app-select-component class="w-full px-2" value={{filterData.bath}} (getValueEvent)="setBath($event)"
      [values]="data.bathList" placeholder="Bath" />
    <app-select-component class="w-full px-2" value={{filterData.garage}} (getValueEvent)="setGarage($event)"
      [values]="data.garageList" placeholder="Garage" />
    <app-input-component type="number" value={{filterData.min}} class="w-full px-2"
      (getValueEvent)="setMinPrice($event)" placeholder="Min Price" />
    <app-input-component type="number" value={{filterData.max}} class="w-full px-2"
      (getValueEvent)="setMaxPrice($event)" placeholder="Max Price" />
    <div class="w-full px-2">
      <app-button-component class="w-full px-10" (onClickEvent)="searchButtonPress()" class="w-1/6" name="Search" />
    </div>

  </div>
  <!--filter bar end-->



  <!--properties list start -->

  <div *ngIf="properties.length != 0; else elseBlock" class="flex-col overflow-auto py-3 ">
    <app-house-card *ngFor="let property of properties; let index=index" [property]="property" />
  </div>

  <ng-template #elseBlock>
    <div class="flex flex-col justify-center items-center w-full h-full py-3 ">
      <p>Sorry ! No content found</p>
    </div>
  </ng-template>




</div>