<div (click)="onChatCardClick()"
  class="flex flex-row justify-center item-center w-full h-24 px-5 border-b shadow-sm bg-white">

  <div class="flex justify-center items-center h-20 w-20 py-2 ">
    <img class="h-full w-full rounded border-2" [src]="room.property_image | img" />
  </div>

  <div class="flex flex-col justify-center item-center w-full px-5 ">

    <div class="flex flex-col w-full font-medium text-lg">{{room.name}}</div>
    <div class="flex flex-row w-full font-medium text-base">
      <div> {{room.seller == userService.user.email? room.buyer :room.seller}}</div>
    </div>
    <div class="flex flex-row w-full ">
      <div class="flex flex-row w-full font-normal text-sm">{{room.messages[room.messages.length - 1].text}}</div>
      <div class="flex flex-row w-full justify-end text-xs">
        {{room.messages[room.messages.length - 1].updated_at | date: 'time'}}
      </div>

    </div>



  </div>


</div>
