<div class="w-2/12 flex h-screen" *ngIf="authService.isLogedin">
  <div class="h-full flex flex-col p-10 border-r-2 text-gray-700">

    <div routerLink="/">
      <p class="text-4xl font-bold"> <fa-icon [icon]="icons.house"></fa-icon> Apna</p>
      <p class="text-5xl font-medium">Makaan</p>
    </div>

    <div class="flex flex-col mt-10 ">
      <p class="text-2xl font-semibold">
        Hi, {{userService.user.name | name}}
      </p>
      <p class="text-xl first-letter:font-semibold">
        {{greetings()}}
      </p>
    </div>

    <div class="flex flex-col mt-20  h-5/12 ">
      <p routerLink="/" class="mb-3 text-xl font-medium hover:cursor-pointer">
        <fa-icon [icon]="icons.explore"></fa-icon> Discover
      </p>
      <p routerLink="/predict" class="mb-3 text-xl font-medium hover:cursor-pointer">
        <fa-icon [icon]="icons.chartBar"></fa-icon> Price Predict
      </p>
      <p routerLink="/listing" class="mb-3 text-xl font-medium hover:cursor-pointer">
        <fa-icon [icon]="icons.clipboard"></fa-icon> Listing
      </p>
      <p routerLink="/chat" class="mb-3 text-xl font-medium hover:cursor-pointer">
        <fa-icon [icon]="icons.message"></fa-icon> Chats
      </p>
      <p routerLink="/profile" class="mb-3 text-xl font-medium hover:cursor-pointer">
        <fa-icon [icon]="icons.user"></fa-icon> Profile
      </p>
    </div>


    <div class="flex justify-start mt-24 ">
      <div (click)="logout()" class="text-xl font-medium hover:cursor-pointer">
        <fa-icon [icon]="icons.logout"></fa-icon> LOGOUT
      </div>
    </div>

  </div>