<div class="flex flex-row h-screen w-screen">
    <!-- left side start-->
    <div class="w-2/4 my-10 flex justify-center items-center">

        <div class="flex justify-center items-center">
            <!-- from container start-->
            <div class="xl:w-96">
                <app-input-component (getValueEvent)="setEmail($event)" type="email" placeholder="Enter your email"
                    lable="Email" />
                <app-input-component (getValueEvent)="setPassword($event)" type="password"
                    placeholder="Enter your password" lable="Password" />
                <app-button-component (onClickEvent)="signInButtonPress()" name="SIGN IN" />
                <div class="flex items-center justify-center">
                    <p class="px-1">Not registerd yet?</p>
                    <p routerLink="/signup" class="px-1 text-blue-600 font-semibold cursor-pointer">Create an Account
                    </p>
                </div>

            </div> <!-- From Container end -->
        </div>
    </div> <!-- left Side end-->

    <!-- right side start -->
    <img class="w-2/4 bg-signin" src={{bgImage}} alt=""><!-- right side end -->
</div>